.fondoEdi {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: transparent;
}

/* #estacionamiento{transform: translateX(500px);}
#total{transform: translateX(500px);}
#amenties{transform: translateX(500px);} */
.fondoIzquierda {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #00FFFF;
}

.fondoEstacionamientoIzquierda {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}

.allTxtIzquierda {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

#simpleA {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}

#monoA {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}

#monoB {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}

#simpleB {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}

#simpleC {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}

#monoC {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}

#monoD {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}

#simpleD {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}



#bloqueFrente {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}

#bloqueAtras {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B2B2B2;
}

#ascensor {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: rgba(0, 0, 0, 0.5);
}

#vacio1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: rgba(0, 0, 0, 1);
}

#bloqueFrenteLineas {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke: #000000;
    stroke-width: 3;
}

#ascensorLineas {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke: #000000;
    stroke-width: 3;
}

#bloqueAtrasLineas {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke: #000000;
    stroke-width: 3;
}

.regla {
    fill: #FFC2C2;
}

#bloque {
    transform: translateX(0px);
}
.mover {
    animation: mover 0.5s forwards ease-in;
}
@keyframes mover {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(1200px);
    }
}