nav{
    width: 100vw;
    height: 150px;
    background: #242424;
    border-bottom: 1px solid white;
    
}
.logo{
    width: 325px;
    height: 130px;
    transform: translateX(50px);
    background-image: url(logoSVGRealEstate.svg);
    background-repeat: no-repeat;
}
/* .fondoVideo{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: static;
} */
 .fondoImgA{
    width: 100vw;
    height: calc(100vh - 130px);
    background-image: url(fondoA.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    filter: brightness(80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    padding: 5%;
 }
 .fondoImgA h2{
    padding: 0;margin: 0;
    font-size: 3em;
    color: white;
    text-align: center;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}
.fondoImgA p{
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.3);
    text-align: center;
    padding: 0;margin: 0;
    padding: 20px;
    font-size: 2em;
    color: white;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
 }