.techoAzotea{fill:#ccc;}
.paredesAzotea{fill:#1f3973;}
.ascensorAzotea{fill:#000;}
.estructuraAscensorAzotea{fill:none;stroke:#fff;stroke-width:2;}
.lineasEstructuralAzotea{fill:none;stroke:#000;stroke-width:2;}

.bloqueSombra{opacity:0.5;fill-rule:evenodd;clip-rule:evenodd;fill:#333333;}