.recuadroBotones{fill:none;stroke:#231F20;stroke-width:5;}
.unDormiFondo,.unDormiMonoFondo,.dosDormiFondo{fill:#1F3973;}
.unDormiTexto,.unDormiMonoTexto,.dosDormiTexto,.btnTitulo{fill:#fff;font-weight: bolder;font-size:77px;font-family: "Exo", sans-serif;}
.btnTitulo{fill:#242424;font-size:123px}
.unDormi,.dormiMono,.dosDormi{cursor: pointer;transition: all 1.5s;}
.unDormi:hover,.dormiMono:hover,.dosDormi:hover{opacity: 0.7;}
    /* numero de pisos bloque B */
.titulo2doBotones{font-size:123px;font-family: "Exo", sans-serif;font-weight: bolder; fill: #242424;}
.fnd5to,.fnd6to,.fnd7mo,.fnd8vo,.fnd9no,.fnd10mo,.fnd11ro,.fnd12do{fill:#1f3973;}
.txt5to,.txt6to,.txt7mo,.txt8vo,.txt9no,.txt10mo,.txt11ro,.txt12do{font-size:77px;font-family: "Exo", sans-serif;font-weight: bolder; fill: #fff;}
.btn5to,.btn6to,.btn7mo,.btn8vo,.btn9no,.btn10mo,.btn11ro,.btn12do{cursor: pointer;}
.btn5to:hover,.btn6to:hover,.btn7mo:hover,.btn8vo:hover,.btn9no:hover,.btn10mo:hover,.btn11ro:hover,.btn12do:hover{opacity: 0.7;}
.btnBCTitle{font-size:123px;font-family: "Exo", sans-serif;font-weight: bolder; fill: #242424;}
.fnd13ro,.fnd14to,.fnd15to,.fnd16to,.fnd17mo,.fnd18vo{fill:#1f3973;}
.txt13ro,.txt14to,.txt15to,.txt16to,.txt17mo,.txt18vo{font-size:77px;font-family: "Exo", sans-serif;font-weight: bolder; fill: #fff;}
.btn13ro,.btn14to,.btn15to,.btn16to,.btn17mo,.btn18vo{cursor:pointer;transform: translate(0px, 0px);}
.btn13ro:hover,.btn14to:hover,.btn15to:hover,.btn16to:hover,.btn17mo:hover,.btn18vo:hover{opacity: 0.7;}

.reiniciarFnd{fill:#1F3973;}	
.reiniciarIcon{fill:#FFFFFF;}
.reiniciarTxt{fill:#fff;font-weight: bolder;font-size:75px;font-family: "Exo", sans-serif;}
.reiniarEdi:hover{opacity: 0.7;}
.reiniarEdi{cursor: pointer;transition: all 1.5s; transform: translateY(150px);opacity: 0;visibility: hidden;}
/* .reiniarEdi{cursor: pointer;transition: all 1.5s;} */
.mostrarReinicio{
    transition: all 1.5s;
    transform: translateY(1300px);opacity: 1;visibility: visible;
}

	.desabilitarBtn{pointer-events: none;opacity: 0.2;}

	.moveY{
		transition: all 1.5s;
		transform: translateY(1745px);
	}
	.botonesBloqueB{
		transform: translate(-900px, 0px);
        opacity: 0;
        visibility: hidden;
        transition: all 2s;
	}
    .mostrarPisosUnDormi{
        transform: translate(0px, 0px);
        opacity: 1;
        visibility: visible;
        transition: all 2s;
    }
    .mostrarPisosDormiMono{
        transform: translate(0px, 410px);
        opacity: 1;
        visibility: visible;
        transition: all 2s;
    }


    .botonesBloqueC{
		transform: translate(-900px, 0px);
        opacity: 0;
        visibility: hidden;
        transition: all 2s;
	}
    .mostrarPisosDosDormi{
        transform: translate(0px, 0px);
        opacity: 1;
        visibility: visible;
        transition: all 2s;
    }